@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #161e31;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
/*----------Header----------*/

nav {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  border-bottom: 2px solid #f9b17a;
  z-index: 1;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-left: 32px;
}
.nav-list li {
  margin-left: 32px;
}

a {
  color: #fff;
  text-decoration: none;
}

.dot {
  color: #f9b17a;
  transition: color 0.3s;
  font-family: 'VT323', 'Roboto', sans-serif;
}

.logo {
  font-family: 'VT323', 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: color 0.3s;
}

.logo:hover {
  color: #f9b17a;
}

.logo:hover .dot {
  color: #fff;
}

.icon {
  transition: color 0.3s;
}

.icon:hover {
  color: #f9b17a;
}

/*----------Mid----------*/

.mid {
  position: relative;
  width: 100vw;
  height: 70vh;
  transform: translateY(10vh);
  bottom: 0;
  z-index: 0;
  overflow-y: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100vw;
  height: 70vh;
}

.nome-div {
  position: relative;
  transform: translate(20%, 40%);
  color: #fff;
  grid-column: 1;
  grid-row: 1;
}

.img {
  position: relative;
  transform: translateY(50%);
  color: #fff;
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}

.nome {
  font-family: 'VT323', 'Roboto', sans-serif;
  margin-left: 5px;
  margin-bottom: 10px;
}

.intro {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 10px;
  font-weight: 500;
  letter-spacing: 2px;
}

.prof {
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 2px;
}

.email {
  position: absolute;
  transform: translate(5%, 70%);
  font-weight: 600;
  font-size: 23px;
  color: #f9b17a;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

.email:hover {
  text-decoration: underline;
  color: #fff;
  text-shadow: 0 0 5px #f9b17a;
}

.img {
  position: absolute;
  right: 100px;
  top: 160px;
  grid-column: 2;
}
img {
  width: 280px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.img:hover {
  animation: upDown 1s infinite;
}

@keyframes upDown {
  0% {
    top: 160px;
  }
  50% {
    top: 140px;
  }
  100% {
    top: 160px;
  }
}

/*----------Bottom----------*/

.bottom {
  width: 100vw;
  height: 120vh;
  background-color: #0e131f;
}

/*----------Scroll----------*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #161e31;
}

::-webkit-scrollbar-thumb {
  background: #f9b17a;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 199, 156);
}
